/* Main */
html,body {
    background-color: #e0dfdf;
    height: 100%;

}


/* header */
.header {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.logo img {
    width: 60%;
    margin-left: 30px;
}

.header-content h1 {
    font-size: 30px;
}

/* body */
/* drop list nav */

.wrapper {
    width: 370px;
    
}

.select-btn, .options li 
{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn {
    width: 65%;
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 7px;
    /*background-color: #b3b3b3;*/
    color: #fff;
    text-align: center;
}

.select-btn a {
    text-decoration: none;
    color: #fff;
}

.select-btn i {
    padding-left: 6px;
    font-size: 31px;
    transition: transform 0.2s linear;
}

.wrapper.active .select-btn i
{
    transform: rotateX(-180deg);
}

.content {
    display: none;
    padding: 20px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.wrapper.active .content
{
    display: block;
}

.content .search {
    position: relative;
}

.search i {
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
}

.search input {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}

.content .options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options::-webkit-scrollbar
{
    width: 7px;
}

.options::-webkit-scrollbar-track
{
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb
{
    background: #ccc;
    border-radius: 25px;
}

.options li {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    border-radius: 5px;
}

.options li:hover {
    background: #f2f2f2;
}

.options li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    line-height: 40px;
}

/*Của 2 droplist*/
#nav-bar .content, .nav-1 .content-1 {
    position: absolute;
    z-index: 2; /* Even higher z-index to guarantee it's on top */
}
/* droplist 2 */
.nav-1 {
    width: 370px;
    /*margin: 130px auto 0;*/
}

.select-btn-1, .options-1 li 
{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn-1 {
    width: 60%;
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 7px;
    /*background-color: #b3b3b3;*/
    color: #fff;
    text-align: center;
}

.select-btn-1 i {
    padding-left: 6px;
    font-size: 31px;
    transition: transform 0.2s linear ;
}

.select-btn-1 a {
    text-decoration: none;
    color: #fff;
}

.nav-1.active .select-btn-1 i
{
    transform: rotateX(-180deg);
}

.content-1 {
    display: none;
    padding: 20px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.nav-1.active .content-1
{
    display: block;
}

.content-1 .search-1 {
    position: relative;
}

.search-1 i {
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
}

.search-1 input {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}

.content-1 .options-1 {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options-1::-webkit-scrollbar
{
    width: 7px;
}

.options-1::-webkit-scrollbar-track
{
    background: #f1f1f1;
    border-radius: 25px;
}

.options-1::-webkit-scrollbar-thumb
{
    background: #ccc;
    border-radius: 25px;
}

.options-1 li {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    border-radius: 5px;
}

.options-1 li:hover {
    background: #f2f2f2;
}

.options-1 li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    line-height: 40px;
}

/*nav-bar*/
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: left;
}

#nav-bar .nav-home {
    margin-left: 80px;
    width: 12%;
}

.nav-home a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

#nav-bar .wrapper {
    margin-left: 80px;
    
}

#nav-bar .nav-1 {
    margin-left: -100px;
    
}

/* Định dạng thanh tìm kiếm */
#navigation {
    display: flex;    
    align-items: center;
    left: 0;
    right: 0;
    background-color: #E97731;
    height: 45px;
    /* position: relative; */
    z-index: 2; /* Higher z-index to ensure it's on top */
    
}

#navigation .search-bar {  
    width: 100%;
    padding: 0 21px;
    margin-left: -80px;
}

.search-bar form {
    /* display: flex; */
    /* width: 95%; */
}

.search-bar input[type="text"] {
    color: black;
    width: 95%;
    padding: 5px 0 5px 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    position: relative;
}

.search-bar input::placeholder {
    color: black;
}

.search-bar #btn-search {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 0;
    margin-right: 62px;
    padding-top: 6px;
}

#btn-search i {
    font-size: 20px;
    line-height: 8px;
    color: #000;
}

/*Side bar*/
.side-bar {
    position: absolute;
    height: 550px;
    width: 298px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
    border-radius: 5px;
    /* Ensure sidebar is behind the navigation */
    z-index: 1; /* Lower z-index to ensure it's behind */
}

.side-bar h2 {
    text-align: center;
}

.search-sidebar {
    position: relative;
    margin-bottom: 10px;
}

.search-sidebar input {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    padding-left: 10px;
    border: 1px solid #b6b6b6;
}

.search-sidebar i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #6c6c6c;
}

.select-sidebar, .options-sb li {
    cursor: pointer;
}

.select-sidebar {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.select-sidebar:hover {
    background-color: #f1f1f1;
}

.select-sidebar span {
    flex-grow: 1;
    padding-left: 8px;
    display: inline-block;
}

.select-sidebar i{
    transition: transform 0.3s linear;
}

.content-sidebar.active .select-sidebar i {
    transform: rotate(90deg);
}

.content-sidebar {
    padding-right: 5px;
}

.list-content {
     display: none;
}

.content-sidebar.active .list-content {
    display: block;
}

.list-content .options-sb {
    margin-top: 3px;
    max-height: 150px;
    background-color: #e9e5e5;
    overflow-y: auto;
    padding-right: 6px;
}

.options-sb::-webkit-scrollbar {
    width: 7px;
}

.options-sb::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options-sb::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options-sb li {
    list-style-type: none;
    margin-left: -5px;
    color: inherit;
}

.options-sb input[type = "checkbox"] {
    margin-right: 5px;
}

.scroll-sb {
    overflow-y: auto;
    max-height: 400px;
}

.scroll-sb::-webkit-scrollbar {
    width: 7px;
}

.scroll-sb::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.scroll-sb::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

/* section */
/* .section {
    display: flex;
    
} */

/*main-content*/
.main-content {
    display: inline-block;
    background-color: #fff;
    width: 78.5%;
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 316px;
}

/* Định dạng thanh tùy chọn */
.option-bar {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.option-bar form {
    display: flex;
    justify-content: space-between;
    /* Giãn cách đều các phần tử */
    gap: 10px;
    /* Tạo khoảng cách giữa các phần tử */
    width: 100%;
}

.option-bar select {
    flex: 0.5;
    padding: 2px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #C38165;
    
}

/* Filter */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 50px;
}

.filter-item {
    position: relative;
}

.dropdown-btn {
    padding: 5px;
    border: none;
    background-color: #D18C6F;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 130px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    margin-top: 2px;
    z-index: 1;
}

.dropdown-content label {
    display: block;
    margin-bottom: 5px;
}

.filter-item:hover .dropdown-content {
    display: block;
}

.selected-filters {
    margin-top: 14px;
    margin-left: 50px;
    font-size: 14px;
    color: inherit;
}

.selected-filters span {
    background-color: #e0e0e0;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

#reset-filters {
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: #D18C6F;
    color: black;
    cursor: pointer;
}

/* footer */
#footer {
    margin-top: 100px;
    background-color: #E97731;
    text-align: center;
    font-size: 20px;
    padding: 8px 0;
}

/* home.html */
.uni-major-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 0 3px;
    margin-bottom: 10px;
}

.uni-major-list a {
    text-decoration: none;
    color: inherit;
}

.university-item, .major-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px;
    background-color: #FFD0B5;
    border: 1px solid orange;
    border-radius: 16px;
}

.logo-university img {
    width: 144px; /* Kích thước cố định cho hình ảnh */
    height: 140px;
    border-radius: 10px;
}

.university-header {
    display: flex;
}

.university-header p {
    border-radius: 30px;
    background-color: #F8E6DB;
    padding: 3px 10px;
    color: #1d1b1b;
}

.university-header h2, .major-header h2 {
    margin: 0;
    color: #333;
}

.university-information {
    flex: 1;
}

.university-location {
    display: flex;
    margin-top: -8px;
}

.location {
    border-radius: 30px;
    background-color: #F8E6DB;
    padding: 3px 10px;
    color: #1d1b1b;
    margin-left: 10px;
    font-size: 14px;
}

.university-description p, .major-description p {
    margin-top: -10px;
    color: #0f0e0e;
}

.university-type {
    margin-left: 20px;
}

.university-fee {
    margin-left: auto;
    margin-right: 14px;
}

.icon-major img {
    width: 144px; /* Kích thước cố định cho hình ảnh */
    height: 140px;
    border-radius: 10px;
}

/* uni.html */
.university-major {
    display: flex;
    flex-direction: row;
    background-color: #FFD0B5;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 0 8px;
    margin-bottom: 5px;
    padding: 8px;
    align-items: center;
}

.university-major p {
    flex: 1; /* Cả các phần tử sẽ có chiều rộng bằng nhau */
    margin: 0; /* Loại bỏ khoảng cách mặc định */
    text-align: center;
}

.uni-title {
    padding-left: 10px;
    padding-top: 10px;
}

.uni-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.uni-header img {
    width: 200px;
    height: 160px;
}

.uni-header h2 {
    font-size: 40px;
}

.uni-description {
    font-weight: bold;
}

.uni-details {
    font-weight: 450;
}

/* major.html */
.major-item-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFD0B5;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 0 8px;
    margin-bottom: 5px;
    padding: 8px;
}

.major-item-field p {
    flex: 1; /* Cả các phần tử sẽ có chiều rộng bằng nhau */
    margin: 0; /* Loại bỏ khoảng cách mặc định */
    text-align: center;
}

.fieldofmajor-title {
    padding-left: 10px;
    padding-top: 10px;
}

.field-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.field-header img {
    width: 150px;
    height: 130px;
}

.field-header h2 {
    font-size: 40px;
}

.field-description {
    font-weight: bold;
}

/* checkbox toggle */
#check, label #btn, label #cancel {
    display: none;
}

@media screen and (max-width: 1024px) {
    /*nav-bar*/
    #nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 120px;
    }

    /* navigation */
    #navigation {
        display: flex;
        flex-direction: column-reverse;
        height: 80px;
    }

    #navigation .search-bar {  
        position: relative;
        width: 830px;
        padding: 0 21px;
        margin-left: 25px;
    }
    
    .search-bar form {
        /* display: flex; */
        /* width: 95%; */
    }
    
    .search-bar input[type="text"] {
        color: black;
        width: 100%;
        padding: 5px 0 5px 10px;
        border: 1px solid #ccc;
        border-radius: 25px;
        outline: none;
        /* margin-left: -50px; */
    }
    
    .search-bar input::placeholder {
        color: black;
    }
    
    .search-bar #btn-search {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        right: -30px;
        padding-top: 6px;
    }
    
    #btn-search i {
        font-size: 20px;
        line-height: 8px;
        color: #000;
    }

    /* side bar */
    .side-bar {
        left: -340px;
        transition: all 0.5s ease;
        margin-top: -12px;
    }

    /* main content */
    .main-content {
        width: 98.2%;
        margin-top: -12px;
        margin-left: 8px;
    }

    /* toggle sidebar */
    label #btn, label #cancel {
        display: block;
    }

    #check {
        display: none;
    }

    label #btn, label #cancel {
        position: absolute;
        cursor: pointer;
        border-radius: 3px;
    }

    label #btn {
        left: 10px;
        top: 120px;
        font-size: 34px;
        color: #fff;
        padding: 0 6px;
        transition: all .5s;
        
    }

    label #cancel {
        z-index: 1111;
        left: -260px;
        top: 185px;
        font-size: 24px;
        color: #E97731;
        padding: 0 6px;
        transition: all .5s ease;
    }

    #check:checked ~ .side-bar {
        left: 0;
    }

    #check:checked ~ .main-content {
        opacity: 0.7;
        transition: opacity 0.4s ease;
    }

    #check:checked ~ label #btn {
        left: -10px;
        opacity: 0;
        pointer-events: none;
    }

    #check:checked ~ label #cancel {
        left: 260px;
    }
    
}

@media screen and (max-width: 786px) {
    
}
















/*Code lưu trữ

#nav-bar {
    
    display: inline-block;
    
}

#nav-bar, .subnav {
    list-style-type: none;
}

#nav-bar > li {
    display: inline-block;
}

#nav-bar li {
    position: relative;
}

#nav-bar > li > a {
    color: white;
    font-size: 18px;
}

#nav-bar li a {  
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav-bar li:hover .subnav {
    display: block;
}

#nav-bar > li:hover > a,
#nav-bar .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav-bar .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 260px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav-bar .subnav a {
   color: #000;
   padding: 0;
   line-height: 38px;
}
*/