{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="{%static 'Demo/css/style.css'%}">
        
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'Demo/image/logofpt.jpg' %}" alt="">
                </a>
            </div>
            <div class="header-content">
                <h1>Tìm kiếm trường Đại học và Ngành học tại khu vực Thành Phố Hồ Chí Minh</h1>
            </div>
        </div>
        
        <!--Nav-->
        <div class="main">
            <div id="navigation">
                <div id="nav-bar">
                    <div class="nav-home"><a href="{% url 'home' %}">Trang chủ</a></div>
                    <div class="wrapper">
                        <div class="select-btn">
                            <a href="{% url 'list-university' %}">
                                <span>Trường đại học</span>
                            </a>
                            <i class="uil uil-angle-down"></i>
                        </div>
                        <div class="content">
                            <form class="search" method="GET" action="{% url 'list-university' %}">
                                <i class="uil uil-search"></i>
                                <input type="text" name="u" placeholder="Search" list="university-list">
                            </form>
                            <ul class="options">
                                
                                {% for uni_global in unis_globals %}
                                <li class="option-u" name="uni_id" value="{{uni_global.ID}}" data-university-id="{{ uni_global.ID }}" data-university-name="{{ uni_global.Name }}" 
                                data-university-url="{% url 'show-one-university' uni_global.ID %}">
                                    <a href="{% url 'show-one-university' uni_global.ID %}">{{ uni_global.ID }}-{{ uni_global.Name }}</a>
                                </li>
                                {% endfor %}
                                    
                            </ul>
                        </div>
                    </div>
                    <div class="nav-1">
                        <div class="select-btn-1">
                            <a href="{% url 'list-major' %}">
                                <span>Nhóm ngành</span>
                            </a>
                            <i class="uil uil-angle-down"></i>
                        </div>
                        <div class="content-1">
                            <form class="search-1" method="GET" action="{% url 'list-major' %}">
                                <i class="uil uil-search"></i>
                                <input id="input-1" name="m" type="text" placeholder="Search" list="field-of-study-list">
                            </form>
                            <ul class="options-1">
                                
                                {% for major_global in majors_globals %}
                                <li class="option-m" name="major_id" value="{{ major_global.ID }}" data-major-id="{{ major_global.ID }}" data-major-name="{{ major_global.Name }}" 
                                data-major-url="{% url 'show-one-major' major_global.ID %}">
                                    <a href="{% url 'show-one-major' major_global.ID %}">{{ major_global.ID }}-{{ major_global.Name }}</a>
                                </li>
                                    
                                {% endfor %}
                                    
                            </ul>
                        </div>
                    </div>
                </div>
        
                <div class="search-bar">
                    <form action="{% url 'home' %}" method="GET">
                        <input type="text" name="s" placeholder="Tìm kiếm trường đại học và ngành học">
                        <button id="btn-search" type="submit"><i class="uil uil-search"></i></button>
                    </form>
                </div>
            </div>
 
            <!--toggle-->
            <input type="checkbox" id="check">
                <label for="check">
                    <i class="uil-bars" id="btn"></i>
                    <i class="uil-times" id="cancel"></i>
                </label>
            <!--side-bar-->
            <div class="side-bar">
                <h2>Nhóm Ngành</h2>
                <hr>
                <div class="search-sidebar">
                    <input id="input-sb" type="text" placeholder="Tìm kiếm nhóm ngành">
                    <i class="uil uil-search"></i>
                </div>
                <div class="scroll-sb">
                    {% for field_global in fields_globals %}
                    <div class="content-sidebar">      
                        <div class="select-sidebar">
                            <i class="uil uil-angle-right"></i>
                            <span>{{ field_global.Name }}</span>
                        </div>
                        <div class="list-content">
                            <ul class="options-sb">
                                {% for major_global in majors_globals %}
                                    {% if major_global.FieldID.ID == field_global.ID %}
                                    <li>
                                        <input type="checkbox" name="majorFilter">{{ major_global.Name }}</input>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End Side Bar -->                   
            
            <div class="main-content">
                {% comment %} <div> <!--Phần này thay đổi theo trường hoặc khối ngành, còn ở home sẽ không xuất hiện-->
                    <h3>Title</h3>
                    <p>description</p>
                </div> {% endcomment %}
                {%block title%}{%endblock title%}
                <hr>
                <form class="filter-container" method="GET" action="{{url}}">
                    <div class="filter-item">
                        <div class="dropdown-btn">Khu vực</div>
                        <div class="dropdown-content">
                            {% for region_global in region_globals %}
                                <label><input type="checkbox" name="region" value="{{region_global.ID}}"> {{region_global.Name}}</label>
                                <!-- <label><input type="checkbox" name="region" value="south"> Quận 5</label>
                                <label><input type="checkbox" name="region" value="central"> Bình Thạnh</label>
                                <label><input type="checkbox" name="region" value="central"> Thủ Đức</label> -->
                            {% endfor %}
        
                        </div>
                    </div>
                
                    <div class="filter-item">
                        <div class="dropdown-btn">Thể loại</div>
                        <div class="dropdown-content">
                            {% for type in type_globals %}
                            <label><input type="checkbox" name="type" value="{{type}}"> {{type}}</label>
                            <!-- <label><input type="checkbox" name="type" value="high"> Tư thục</label> -->
                        {% endfor %}
                        </div>
                    </div>
                
                    <div class="filter-item">
                        <div class="dropdown-btn">Học phí</div>
                        <div class="dropdown-content">
                            <label><input type="checkbox" name="fee" value="0-10"> 0-10</label>
                            <label><input type="checkbox" name="fee" value="10-20"> 10-20</label>
                            <label><input type="checkbox" name="fee" value="20-30"> 20-30</label>
                            <label><input type="checkbox" name="fee" value="30-40"> 30-40</label>
                            <label><input type="checkbox" name="fee" value="40-50"> 40-50</label>
                            <label><input type="checkbox" name="fee" value="50-60"> 50-60</label>
                            <label><input type="checkbox" name="fee" value="60-70"> 60-70</label>
                            <label><input type="checkbox" name="fee" value="70+"> 70+</label>
                            
        
                        </div>
                    </div>
        
                    <div class="filter-item">
                        <div class="dropdown-btn">Điểm</div>
                        <div class="dropdown-content">
                            <label><input type="checkbox" name="score" value="20-23"> 20 - 23</label>
                            <label><input type="checkbox" name="score" value="23-25"> 23 - 25</label>
                            <label><input type="checkbox" name="score" value="25-27"> 25 -27</label>
                            <label><input type="checkbox" name="score" value="27+"> 27+</label>
        
                        </div>
                    </div>
                    <!-- Filter Button -->
                     <input type="submit" name="Filter" value="Filter" id="">
                    <!-- Reset Button -->
                    <button id="reset-filters">Reset Filters</button>
                </form>
                <!-- Selected Filters -->
                <div class="selected-filters">
                    <!-- Display selected options here -->
                </div>
                <hr>
                {% block main-content %} {% endblock main-content %}
            </div>
        </div>
        
        <!--footer-->
        <footer>
            <div id="footer">
                Email <br>
                Facebook
            </div>
        </footer>
        <!--js-->
        <script src="{%static 'Demo/js/js.js'%}"></script>
    </body>
</html>