{% extends 'Demo/base.html' %}
{% load static %}
{% block main-content %}
    <!--thông tin trường-->
<div class="uni-major-list">
    <div class="university-item">
        <div class="logo-university">
            <img src="" alt="">
        </div>
        <div class="university-information">
            <div class="university-header">
                <h2>Trường đại học FPT HCM</h2>
                <p class="university-type">Tư Thục</p>
                <p class="university-fee">Học phí ~ 90 tr/năm</p>
            </div> 
            <div class="university-description">
                <p>Chương trình đào tạo của trường Đại học FPT được thiết kế dựa trên sự tham vấn của chuyên gia, chú
                    trọng thực hành, phù hợp với nhu cầu của nhà tuyển dụng tìm kiếm ở nguồn nhân lực thế hệ mới.</p>
            </div>
            <div class="university-location">
                <p><strong>Cơ sở:</strong></p> 
                <p>TP. Thủ Đức</p> <!--ở đây có thể co nhiều cơ sở, ví dụ Thủ đức | Quy Nhơn | Hà nội-->
            </div>
        </div>
    </div>
    <div class="major-item">
        <div class="icon-major">
            <img src="" alt="">
        </div>
        <div class="major-information">
            <div class="major-header">
                <h2>Công nghệ thông tin</h2>
                <p class="university-score"></p>
            </div> 
            <div class="major-description">
                <p>Chương trình đào tạo của trường Đại học FPT được thiết kế dựa trên sự tham vấn của chuyên gia, chú
                    trọng thực hành, phù hợp với nhu cầu của nhà tuyển dụng tìm kiếm ở nguồn nhân lực thế hệ mới.</p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}