{% extends 'Demo/base.html' %}
{% load static %}
{%block title%}
    <div class="">
        <div class="">
            <img src="{% static 'Demo/image/logofpt.jpg' %}" alt="">
            <h2>Trường đại học FPT HCM</h2>
        </div>
        <div class="">
            <p>Chương trình đào tạo của trường Đại học FPT được thiết kế dựa trên sự tham vấn của chuyên gia, chú trọng thực hành, phù hợp với nhu cầu của nhà tuyển dụng tìm kiếm ở nguồn nhân lực thế hệ mới.</p>
        </div>
        <div class="">
            <span>Điểm: Từ 16 - 21 điểm</span>
            <span class="">Học phí: Từ 70 ~ 90 tr/năm</span>
            <span>Facebook</span>
            <span>Website</span>
            <span>Facebook</span>
            <span>Địa chỉ</span>
        </div>
    </div>
{%endblock title%}
{% block main-content %}
    <!--List các full ngành của trường-->
    <div class="university-major">
        <p>Kỹ thuật phần mềm</p>
        <p>A00: 23</p>
        <p>~ 90 Triệu/Năm</p>
    </div>
{% endblock main-content %}
        